---
const gitHubUrl = 'https://github.com/brylie/piano-fitness-app';
const gitHubIssuesUrl = `${gitHubUrl}/issues`;
const gitHubLicenseUrl = `${gitHubUrl}/blob/main/LICENSE`;
---

<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <img src="/PianoFitness.png" alt="Piano Fitness Logo" class="w-16 h-16 rounded-[20%]" />
    <p class="max-w-md">Piano Fitness is designed as a supplementary tool focusing specifically on technical development, not to replace traditional piano instruction or repertoire practice software.</p>
  </div> 
  <div>
    <span class="footer-title">Resources</span> 
    <a href={gitHubUrl} class="link link-hover">GitHub Repository</a> 
    <a href={gitHubIssuesUrl} class="link link-hover">Report Issues</a> 
    <a href={gitHubLicenseUrl} class="link link-hover">License</a>
  </div> 
  <div>
    <span class="footer-title">Legal</span>
    <a href="/privacy" class="link link-hover">Privacy Policy</a>
    <a href="/terms" class="link link-hover">Terms of Use</a>
  </div>
  <div>
    <span class="footer-title">About</span> 
    <a href="/mission" class="link link-hover">Our Mission</a> 
    <a href="/team" class="link link-hover">Development Team</a> 
  </div>
</footer>

<footer class="footer footer-center p-4 bg-neutral text-neutral-content">
  <div>
    <p>&copy; 2025 Piano Fitness. All rights reserved. Built with Godot Engine.</p>
  </div>
</footer>
