---
const gitHubUrl = 'https://github.com/brylie/piano-fitness-app';
const gitHubIssuesUrl = `${gitHubUrl}/issues`;
const gitHubLicenseUrl = `${gitHubUrl}/blob/main/LICENSE`;
---

<footer class="footer p-10 bg-neutral text-neutral-content">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full">
      <div class="space-y-4">
        <div class="flex items-center gap-4">
          <img src="/PianoFitness.png" alt="Piano Fitness Logo" class="w-16 h-16 rounded-[20%] flex-shrink-0" />
          <p>Piano Fitness is designed as a supplementary tool focusing specifically on technical development, not to replace traditional piano instruction or repertoire practice software.</p>
        </div>
      </div> 
      <div class="space-y-4">
        <span class="footer-title">Resources</span> 
        <nav class="flex flex-col space-y-2">
          <a href={gitHubUrl} class="link link-hover">GitHub Repository</a> 
          <a href={gitHubIssuesUrl} class="link link-hover">Report Issues</a> 
          <a href={gitHubLicenseUrl} class="link link-hover">License</a>
        </nav>
      </div> 
      <div class="space-y-4">
        <span class="footer-title">Legal</span>
        <nav class="flex flex-col space-y-2">
          <a href="/privacy" class="link link-hover">Privacy Policy</a>
          <a href="/terms" class="link link-hover">Terms of Use</a>
        </nav>
      </div>
      <div class="space-y-4">
        <span class="footer-title">About</span>
        <nav class="flex flex-col space-y-2">
          <a href="/mission" class="link link-hover">Our Mission</a> 
          <a href="/team" class="link link-hover">Development Team</a>
        </nav>
      </div>
    </div>
  </div>
</footer>

<footer class="footer footer-center p-4 bg-neutral text-neutral-content">
  <div>
    <p>&copy; 2025 Piano Fitness. All rights reserved. Built with Godot Engine.</p>
  </div>
</footer>
